<h1>Order Confirmation</h1>
<p>Thank you for your order <%= @order.full_name %>. We will shortly dispatch your <%= @order.quantity %> pair(s) of size <%= @order.size %> Shoos to <%= @order.address %>.</p>