body {
  font-family: sans-serif;
}

div {
  color: red;
  font-size: 12px;
}

form {
  color: white;
  font-size: 12px;
}

table {
  padding: 10px;
  background-color: grey;
  width: 450px;
}

td {
  padding: 2px;
}